:root {
  --widget-background: #242438;
  --bar-background: #11111b;
}

* {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  font-family: "JetBrainsMono NFP";
}

.yasb-bar {
  padding: 7 10px;
  margin: 0;
  background-color: var(--bar-background);
}

.widget {
  padding: 0 7px;
  margin: 0 3px;
  background-color: var(--widget-background);
  border-radius: 13px;
  /* DEBUG */
  /* border: 1px solid white; */
}

.icon {
  font-size: 14px;
  margin-right: 5px;
  /* DEBUG */
  /* border: 1px solid red */
}

.label {
  /* DEBUG */
  /* border: 1px solid aqua; */
}

/* Traffic */
.traffic-widget .icon {
  color: #cba6f7;
}
.traffic-widget .download {
  margin-right: 4px;
}

/* GPU */
.gpu-widget .icon {
  color: #a6e3a1;
}
.gpu-widget .label {
  min-width: 40px;
  max-width: 40px;
}

/* CPU */
.cpu-widget .icon {
  color: #89b4fa;
}
.cpu-widget .label {
  min-width: 40px;
  max-width: 40px;
}

/* Memory */
.memory-widget .icon {
  color: #f9e2af;
}
.memory-widget .label {
  min-width: 95px;
  max-width: 95px;
}

/* Notification */
.notification-widget .icon {
  color: #74c7ec;
}

/* Battery */
.battery-widget .icon {
  color: #f9e2af;
}

/* Cava */
.cava-widget {
  background-color: var(--widget-background);
  padding: 0 15px;
}

/* Volume */
.volume-widget .icon {
  color: #f38ba8;
}

.audio-menu {
  background-color: rgb(23, 23, 23, 0.8);
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

/* Media */
.media-menu {
  min-width: 360px;
  max-width: 360px;
  background-color: rgb(23, 23, 23, 0.8);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  font-family: 'Segoe UI'
}

.media-menu .artist {
  font-size: 13px;
  color: #6c7086;
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: #000;
  font-weight: normal;
  border-radius: 3px;
  background-color: #bac2de;
  padding: 2px 4px;
}

.media-menu .source.firefox {
  background-color: #ff583b;
  color: #ffffff;
}

.media-menu .source.spotify {
  background-color: #199143;
  color: #ffffff;
}

.media-menu .source.edge {
  background-color: #0078d4;
  color: #ffffff;
}

.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #ffffff;
}

.media-menu .btn {
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: #4e525c;
  background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
  font-size: 13px;
  font-family: 'Segoe UI';
  color: #7f849c;
  margin-top: 0px;
  min-width: 100px;
}

.media-menu .progress-slider {
  height: 20px;
  margin: 0 4px 5px 4px;
  border-radius: 3px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);

}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
  background: #89b4fa;
  border-radius: 3px;
  height: 4px;
}

/* Language */
.language-widget .icon {
  color: #ffc803;
}
.language-menu {
    background-color: rgba(17, 17, 27, 0.4);
    min-width: 300px;
}
.language-menu .header {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: rgba(17, 17, 27, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.language-menu .footer {
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: #9399b2;
    background-color: rgba(17, 17, 27, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.language-menu .footer:hover {
    background-color: rgba(36, 36, 51, 0.6);
    color: #fff;
}
.language-menu .language-item {
    padding: 6px 12px;
    margin: 2px 4px;
}
.language-menu .language-item.active {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.language-menu .language-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.language-menu .language-item.active:hover {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.language-menu .language-item .code {
    font-weight: 900;
    font-size: 14px;
    min-width: 40px;
    text-transform: uppercase;
}
.language-menu .language-item .icon {
    font-size: 16px;
    margin-right: 8px;
    color: #fff;
}
.language-menu .language-item .name {
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
}
.language-menu .language-item .layout {
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 12px;
}